project:
  type: website
  render:
    - "*.qmd"
    - "*.md"
    - "!README.md"
    - "!CONTRIBUTING.md"
    - "!CHANGELOG.md"
  output-dir: _site
  post-render:
    - helpers/optimize.ts # This script minifies all css, html, and JS rendered by quarto to reduce file size

website:
  favicon: images/atlas-icon.svg
  site-url: https://adaptationatlas.github.io/atlas_notebooks/
  search: false # disable search = performance increase
  # sidebar: # Creates an empty sidebar which elements can be added to
  #   style: floating
  #   alignment: left

  navbar:
    logo: images/atlas-logo.svg
    logo-href: https://adaptationatlas.cgiar.org
    logo-alt: "The Africa Agriculture Adaptation Atlas"
    right:
      - icon: bi-info-circle
        text: "Documentation"
        href: docs/doc_index.qmd
        aria-label: "More Information"
      - text: "Report an Issue"
        href: https://github.com/AdaptationAtlas/atlas_notebooks/issues/new
      - icon: github
        href: https://github.com/AdaptationAtlas/atlas_notebooks
        aria-label: "GitHub"
format:
  html:
    theme: cosmo
    include-in-header: _include.html # This includes path the google font api
    mainfont: "IBM Plex Sans"
    css: styles.css
    grid:
      # content-mode: standard
      # gutter-width: 1.2em
      # sidebar-width: 200px
      body-width: 1100px

    toc: false # use custom to reduce complexity with lang and increase performance
    anchor-sections: false # remove section link hovers

resources:
  - data/
  - helpers/
  - images/
  - "notebooks.json"

execute:
  echo: false # don't show code unless explicitly requested
